<!DOCTYPE html>
<html>
  <head>
    <title>Pocklit: Add New Language</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  </head>
  <body>

    <h1>Create a new Language for Educational Modules</h1>
    <form method="post" action="/admin/languages">

      <label for="name">Language Name</label>
      <input type="text" name="name" id="name-input">

      <button type="submit" id="submit-input">Add Language</button>
    </form>

    <p>Right click to add markers that represent the region where the language is spoken</p>
    <p>Double-click markers to highlight the region</p>
    <p>Adjust the size and shape of the region as desired</p>
    <div id="googleMap" style="width:500px;height:380px;"></div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>var dataMap</script>
    <script src="/javascripts/map-helper.js"></script>
    <!-- GOOGLE MAP LIBRARY -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF4lZ1KiV2-dLwV3V32dfG5nA9alMaCfk&libraries=geometry&callback=initMap" async defer></script>
  </body>
</html>
