<!DOCTYPE html>
<html>
  <head>
    <title>Pocklit: Add New Language</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <h1>Create a new Language</h1>
      <form method="post" action="/admin/languages">

        <label for="name">Language Name</label>
        <input type="text" name="name" id="name-input">

        <button type="submit" id="submit-input">Submit</button>
      </form>
    </div>
  </body>
</html>
